<li class="task-item" id="task_<%= task.id %>" data-task-target="item">
  <input type="checkbox" 
         class="task-checkbox"
         <%= task.completed ? 'checked' : '' %> 
         data-action="click->tasks#toggleComplete"
         data-task-id="<%= task.id %>"
         data-todo-list-id="<%= todo_list.id %>">
  <span class="task-content <%= task.completed ? 'task-completed' : '' %>">
    <%= task.content %>
  </span>
  <div class="task-actions">
    <%= link_to "Edit", edit_todo_list_task_path(todo_list, task), class: "secondary-button", data: { turbo_frame: "main_content" } %>
    <%= link_to "Delete", todo_list_task_path(todo_list, task),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "secondary-button" %>
  </div>
</li>